@page "/"
@using Galnet.Common
@using Galnet.Plugin.Model
@using Galnet.Web.Base.Logic

@inject IManager Manager
@inject IProgressIndicator ProgressIndicator
<PageTitle>Galnet</PageTitle>

@if(info!=null)
{
    <p>Platform</p>
    @foreach(var f in this.info.Functions)
    {
        <button class="btn btn-outline-primary" @onclick="()=>click(f)">@f</button>
    }
    <hr />
    <button class="btn btn-outline-primary" @onclick="()=>GetSomeHmms()">GetSomeHmms</button>
    <pre>
        @data
    </pre>
}
<hr />
<a href="/details">details</a>

@code{
    PlatformState info = null;
    public string data = "";

    protected override void OnInitialized()
    {
        this.info = 
            Manager
                .Context()
                .Call("Platform")
                .Response<PlatformState>();
    }

    public async Task click(string name)
    {
        await Manager
            .Context()
            .CallWithProgress(ProgressIndicator, name);
    }

    public async Task GetSomeHmms()
    {
        var list = Manager
                .Context()
                .Call("GetSomeHmms")
                .Response<List<string>>();

        data = string.Join(" ", list);
    }
}